/* src/pages/HomePage.css */
@media (max-width: 910px) {
  body.responsive_page .home_page_body_ctn.has_takeover .fullscreen-bg__video {
    height: 46vw;
  }
}
.homepage-content {
  width: 100%;
}

.top-promo-banner,
.bottom-promo-banner {
  margin-bottom: 20px;
}

.top-promo-banner img,
.bottom-promo-banner img {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 150%;
  border-radius: 4px;
}

.homepage-main-section {
  display: flex;
  gap: 20px;
}

.homepage-right-column {
  flex-grow: 1; /* Cột phải chiếm hết không gian còn lại */
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0; /* Quan trọng để flexbox không bị tràn */
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.fullscreen-video {
  margin-left: 50%;
  transform: translateX(-50%);
}
