.game-detail .game-tags {
  margin-bottom: 20px;
}

.game-detail .game-tags .tag {
  display: inline-block;
  background-color: #202d39;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 11px;
  margin: 0 4px 4px 0;
  color: #acb2b8;
  cursor: pointer;
}

.game-detail .game-tags .tag:hover {
  background-color: #2c4155;
  color: #ffffff;
}


.game-detail .full-description-section {
  flex: 3;
}

.game-detail .system-requirements-section {
  flex: 2;
}



.game-detail-header-container {
  position: relative;
}

.game-detail-header-container .content {
  height: 435px;
}

.background-image {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: rgb(31, 58, 87);
  mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);

}

.background-image .img {
  width: 100%;
  height: 100%;
  opacity: 0.075;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.game-detail-header-container .content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}

.game-detail-header-container .content .left-col,
.game-detail-header-container .content .right-col {
  height: 100%;
}

.game-detail-header-container .content .left-col {
  width: 63%;
  margin: 0 2% 0 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 5;
}

.game-detail-header-container .content .left-col .highlight-player-area {
  height: calc(100% - 90px);
}

.game-detail-header-container .left-col .highlight-strip {
  margin-top: 6px;
  position: relative;
  height: 80px;
  margin-bottom: 4px;
  z-index: 40;
  width: 100%;
}

.highlight-strip .swiper .swiper-scrollbar {
  background-color: transparent;
}

.highlight-strip .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  height: 5px;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.918) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
}

.content .right-col {
  width: 35%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);

}

.game-detail-header-container .right-col .content-row {
  margin: 3px 0;
  width: 100%;
  display: flex;
  z-index: 5;
}

.game-detail-header-container .info-label {
  color: #556772;
  text-transform: uppercase;
  width: 50%;
}

.game-detail-header-container .info-value {
  color: #66c0f4;
  text-decoration: none;
  width: 50%;
}

.gameHeaderImgCtn img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.pruchase-area {
  z-index: 5;

}


.purchase-box {
  background: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
  padding: 16px;
  border-radius: 3px;
}

.purchase-box .game-purchase-action-bg {
  text-align: right;
}

.purchase-box .game-purchase-action-bg * {
  font-size: 12px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

.game-purchase-action-bg .price-action {
  display: inline-block;
  background-color: black;
  height: 32px;
  padding: 2px 2px 2px 0;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0;
}

.game-purchase-action-bg .price {
  background-color: #000000;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.price-action .btn-add-to-cart {
  position: relative;
}

.btn-add-to-cart .btn-green-ui {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #d2efa9;
  background: transparent;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.btn-add-to-cart .btn-green-ui:hover {
  text-decoration: none !important;
  color: #fff;
  background: transparent;
}

.btn-green-ui span {
  border-radius: 2px;
  display: block;
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  padding: 0 15px;
  font-size: 15px;
  line-height: 25px;
}

.btn-green-ui:hover span {
  background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}

/* -- -- --*/
.btn-add-to-cart .btn-blue-ui {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #b3e6ff;
  background: transparent;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.btn-add-to-cart .btn-blue-ui:hover {
  text-decoration: none !important;
  color: #fff;
  background: transparent;
}

.btn-blue-ui span {
  color: white;
  border-radius: 2px;
  display: block;
  background: linear-gradient(to right, #3ea6ff 5%, #2563eb 95%);
  padding: 0 15px;
  font-size: 15px;
  line-height: 25px;
}

.btn-blue-ui:hover span {
  background: linear-gradient(to right, #60cfff 5%, #3b82f6 95%);
}

/* Detail Body .jsx*/
.game-detail-body-container {}

.game-detail-body-container h2 {
  font-size: medium;
}

.game-detail-body-container .description-body {
  color: #acb2b8;
}

/* Detail System .jsx */

.game-detail-system-container {}

.game-detail-system-container h2,
.game-detail-system-container h3 {
  padding: 0;
  margin: 0;
  font-size: medium;
}

.line-seperate {
  background: linear-gradient(90deg, rgb(58, 110, 139), rgb(58 110 139 / 0%));
  height: 2px;
}

.game-detail-system-container .system-content {
  margin-top: 1rem;
}

.minimum-section,
.recommend-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #acb2b8;
  gap: 5px 15px;
}

.minimum-section .req-row,
.recommend-section .req-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.req-row span,
.req-row strong {}

.minimum-section strong {
  color: #8f98a0;
}

.review-container h2 {
  font-size: medium;
  color: white;
  text-transform: uppercase;
}