@font-face {
  font-family: 'Motiva Sans';
  src: url('/src/assets/fonts/MotivaSansRegular.woff.ttf') format('truetype');
}
  body {
    font-family: 'Motiva Sans';
    font-size: 14px;
  }
  .approve-button {
    background: linear-gradient(90deg, #007bff, #0056b3); /* Gradient from light to dark blue */
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .approve-button:hover {
    background: linear-gradient(90deg, #0056b3, #003f7f); /* Darker gradient on hover */
  }

  .button {
    background: #3D4450; /* Gradient from light to dark blue */
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

 .button:hover {
    background: #2c313a; /* Darker gradient on hover */
 }
  