.chat-main .friend-list>* {
    transition: all .32s ease-in-out;
}

.chat-main .friend-list {
    position: relative;
}

.split .gutter {
    cursor: ew-resize;
    border: .5px solid #121216;
    border-top: 2px solid rgba(34, 37, 43, .8);
    border-bottom: 3px solid rgba(34, 37, 43, .9);
    background-color: #22252b;
    min-width: 3px;
}


.split .pane {
    overflow: auto;
    background-color: #f4f4f4;
}