.chat-header-container {
    padding: 10px;
    background-color: #000;
}

.chat-header-container .chat-header-nav a {
    padding: 0px 7px;
    color: #b8b6b4;
    line-height: 16px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.chat-header-container .chat-header-nav a:hover {
    color: #fff;
}


