.multi-chat-dialog-container {
    position: relative;
    background: radial-gradient(ellipse farthest-corner at 50% 30%, #2b2d33 0%, #1e2025 50%, #14151a 100%);
}

.multi-chat-dialog-container .chat-tab {
    padding-left: 4px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-bottom: none;
    border-left: none;
    box-shadow: inset 1px 1px 0px rgba(71, 71, 71, .3);
    background-color: #1c232c;
    position: relative;
}

.chat-tab .friend-box {
    width: 189px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 12px 0px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    transition: padding 200ms ease-out;
    color: #6dcff6;
    background-color: #3a3e46;
    gap: 10px;
}

.friend-box .friend-avatar img {
    height: calc(100% - 2px);
}

.friend-box .friend-name {
    flex-grow: 1;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-size: 14px;
    transition: text-overflow 0s linear;
}

.chat-wrapper .chat-history-scroll {
    overflow: auto;
    position: relative;
    padding: 0 6px 14px 6px;
    word-break: break-word;
    background: radial-gradient(ellipse farthest-corner at 50% 30%, #212329 0%, #1e2025 50%, #1c1d22 100%);
    font-size: 14px;
}

.chat-tab .padder-top {
    background: linear-gradient(to right, #3a3e46 80%, #2c3037 100%);
    min-height: 4px;
    transition: background-color .2s ease-in-out;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
}

/*
webkit
*/

/* width of the entire scrollbar */
.chat-history-scroll::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

/* the track (background) of the scrollbar */
.chat-history-scroll::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;

}

/* the draggable thumb */
.chat-history-scroll::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

/* thumb when hovered */
.chat-history-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    width: 3px;

}

/*
ENTRY
*/

.chat-entry {
    position: relative;
    background-color: #1b1c20;
    box-shadow: inset 0px 0px 4px #000;
    outline-width: 0px;
    color: #aaa;
    border: 0px solid transparent;
    padding-right: 2px;
}

.chat-entry .chat-entry-control input {
    resize: none;
    margin-right: 4px;
    height: 100%;
    background-color: transparent;
    box-shadow: inset 0px 0px 4px transparent;
    outline-width: 0px;
    color: #aaa;
    border: 0px solid transparent;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    padding: 4px 4px 4px 8px;
    flex-shrink: 1;
    width: 100%;
}

.chat-entry .chat-entry-actions {
    align-self: flex-end;
    height: 100%;
    transition: background .3s ease;
}

.chat-entry-actions .actions-btn {
    background: #24272b;
    height: 80%;
    width: 80%;
}

.chat-entry-actions .actions-btn:hover {
    cursor: not-allowed;
}

.chat-entry-actions .actions-btn.active {
    background: linear-gradient(136deg, #0056d6 1%, #1a9fff 60%);
}

.chat-entry-actions .actions-btn.active:hover {
    cursor: pointer;
}

.SVGIcon_Button {
    fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}