.chat-history {
    overflow-y: auto;
    padding: 1rem;
    height: 100%;
}

.day-header {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
    color: #666;
}

.message-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.message-group.user {
    color: #969aa1;
}

.message-group.friend {
    color: #c1c6cf;
}


.message-group .sender-small-profile{
    display: flex;
    flex-direction: row;
    height: 38px;
    gap: 10px;
    align-items: center;
}

.sender-small-profile img{
    height: 100%;
}

.user .sender-small-profile{
    color: #4f96b3;
}

.friend .sender-small-profile{
    color: #6dcff6;
}

.bubble {
    padding: 0.5rem 0  0.5rem 48px;
    max-width: 60%;
}


.msg-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.msg-text {
    word-break: break-word;
}

.msg-time {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    align-self: flex-end;
    color: #999;
}


/*
webkit
*/

/* width of the entire scrollbar */
.chat-history::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
}

/* the track (background) of the scrollbar */
.chat-history::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* the draggable thumb */
.chat-history::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

/* thumb when hovered */
.chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    width: 3px;

}
