
.games-page-container {
  display: flex; /* Sắp xếp GameList và FilterSidebar nằm ngang */
  padding: 40px;
  gap: 10px; /* Khoảng cách giữa GameList và FilterSidebar */
  background-color: #1b2838; /* Màu nền chung của khu vực nội dung Steam */
  flex-grow: 1;
  margin-bottom: 50px;
}
.games-page-container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

/* Layout chính */
.game-list-content {
  flex: 1;
  padding: 16px;
}

.filter-sidebar {
  padding: 16px;
}

/* Thanh phân trang ở dưới */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
