/* src/components/GameList/GameList.css */
.games-container{
  gap: 5px;
}

.games-container .game-link{
  height: 47px;
  width: 100%;
}

.loading-message,
.error-message,
.no-games-message {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #c7d5e0; /* Màu chữ sáng */
}

.message-error {
  color: #ff6b6b; /* Màu đỏ cho lỗi */
}
