/* src/components/GameList/GameList.css */
.game-list-container {
  flex-grow: 1;
  /* max-width: 700px; */
}
.loading-message,
.error-message,
.no-games-message {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #c7d5e0; /* Màu chữ sáng */
}

.error-message {
  color: #ff6b6b; /* Màu đỏ cho lỗi */
}
