.register-container {
  background: linear-gradient(to right, rgb(0 0 0 / 50%) 0%, #000000bd 100%), url(https://cdnphoto.dantri.com.vn/4ydXR7ZhWF5ViH60xAFvBolm3JQ=/2021/02/01/khu-cach-ly-dai-hoc-fpt-13-1612154602281.jpg) center center / cover no-repeat;

}

.register-container .main-content {}

.register-container .form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #12151d;
}

.register-container .form-title {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  width: 100%;
}

.register-container .form-group {
  display: flex;
  flex-direction: column;
  width: 292px;
}

.register-container .form-label {
  font-size: 14px;
  color: #b8b6b4;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.register-container .form-input {
  background: #32353C;
  border-radius: 3px;
  color: #E9E9E9;
  padding: 8px 6px;
  display: block;
  box-shadow: none;
  border: none;
  width: 100%;
  transition: border ease-in-out .5s;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}

.register-container .form-input:focus {
  outline: none;
  border-color: #0a7fff;
}

.register-container .checkbox-group span {
  font-size: 14px;
  color: #b8b6b4;
  vertical-align: top;
}

.register-container .checkbox-group a {
  color: #ffffff;
}

.register-container .checkbox-group a:hover {
  color: #66c0f4;
  text-decoration: none;
}

.register-container .submit-button {
  border-radius: 2px;
  border: none;
  padding: 1px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none !important;
  color: #c3e1f8;
  background: transparent;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-position: 25%;
  background-size: 330% 100%;
}

.register-container .submit-button:hover {
  text-decoration: none !important;
  color: #fff;
  background: transparent;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  background-position: 0%;
  background-size: 330% 100%;
}


.register-container .message {
  color: red;
}