@font-face {
  font-family: 'Motiva Sans Light';
  src: url('/src/assets/fonts/MotivaSansLight.woff.ttf') format('truetype');
}

/* body {
  margin: 0;
  padding: 0;
  background-color: #1B2438;
} */

.game-application {
  /* margin-top: 100px; */
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-border h1{
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.form-border {
  margin-top: 100px !important;
  font-family: 'Motiva Sans Light';
  font-size: 13px;
  border: 1px solid #000000;
  height: auto;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #23272B;
  margin-bottom: 50px;
  color: #ADB2B8;
  ;
}

.game-mandatory-information {
  display: flex;
  align-items: center;
  gap: 15%;
  /* Increased space even more */
}

.game-avatar {
  margin-left: 10%;
  margin-top: 30px;
  width: 30%;
  /* Bigger image */
  height: 30%;
  border-radius: 15px;
}

.name-price {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 8px;
  /* Reduced space between labels and input boxes */
}

.name-price input {
  color: white;
  width: 80%;
  /* height: 20px; */
  /* Reduced height */
  padding: 10px;
  font-size: 18px;
  /* font-weight: bold; */
  border: none;
  border-radius: 3px;
  /* background: linear-gradient(90deg, #ffffff, #dce6f7); */
  box-shadow: inset 1px 1px 0px #000a;
  outline: none;
  background-color: #1A1C1F;
}

.sys-req {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  /* Ensure title stays above */
  width: 80%;
  margin-top: 20px;
  margin: 0 auto;
}

.sys-req-col-container {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  /* Adds space between the two columns */
}

.sys-req-col1,
.sys-req-col2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 48%;
}

.sys-req input,
.sys-req textarea {
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0px #000a;
  outline: none;
  background-color: #1A1C1F;
}

.sys-req textarea {
  height: 60px;
  resize: vertical;
}

.summary {
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
}

.summary textarea {
  border: none;
  border-radius: 3px;
  box-shadow: inset 1px 1px 0px #000a;
  outline: none;
  background-color: #1A1C1F;
  resize: vertical;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.game-assets {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}

.inner-image {
  overflow-x: auto;
  white-space: nowrap;
  /* display: flex; */
  /* Space between images */
}

.inner-image img {
  width: 150px;
  /* Adjust size */
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.inner-image button {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  border: 2px dashed #ccc;
  background: #3D4450;
  margin-right: 10px;
}

.inner-image button:hover{
  background:#2c313a;
}

.game-file {
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}

.game-file button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-request-cancel {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.game-application h1 {
  /* margin: 0 auto; */
  margin-left: 30%;
  width: fit-content;
  margin-top: 100px;
  font-size: 34px;
}
  .price-input{
    width: 78% !important;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  .remove-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #3D4450;
    border-radius: 10%;
    padding: 2px 6px;
    cursor: pointer;
    display: none;
  }
  
  .image-wrapper:hover .remove-icon {
    display: block;
  }
  .tag-selector {
  width: 80%;
  }
  .my-select__control,.my-select__menu,.my-select__menu-list {
  background-color: #1A1C1F !important; 
  color: white;
  border: none !important;
  }
  .my-select__option--is-focused {
  background-color: transparent !important;
  }
  .my-select__option:hover{
    background-color: gray !important;
  }
  .my-select__multi-value{
    background-color: #232529 !important;
  }
  .my-select__multi-value__label{
    color: white !important;
  }
  .my-select__input{
    color: white !important;
  }
  .game-file progress{
    height: 3px;
    width: 100%;
    appearance: none;
    border-radius: 5px;
  }
/* Chrome, Safari, Edge */
progress::-webkit-progress-value {
   background-image: linear-gradient(90deg, #007bff, #0056b3); /* Green fill */
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  /* background-color: black; Light gray background */
  border-radius: 5px;
  
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: #4caf50;
}








  
    
  
  
