.community-page-container {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  /* mb-10 */
}

.community-page-container .review-section {
  margin-bottom: 2.5rem;
  /* tương đương mb-10 */
}

.community-page-container .review-section-title {
  font-size: 1.25rem;
  /* text-xl */
  font-weight: 600;
  /* font-semibold */
  margin-bottom: 0.5rem;
  /* mb-2 */
  color: white;
}

.community-page-container .review-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.community-page-container .table-container {
  width: 100%;
  max-width: 64rem;
  /* max-w-4xl */
  border-collapse: collapse;
}

.community-page-container .table-header-row {
  text-align: left;
  color: #6b7c93;
  font-size: 0.875rem;
  /* text-sm */
  font-weight: 600;
  /* font-semibold */
  border-bottom: 1px solid #3e4a5e;
}

.community-page-container .table-header-cell {
  padding: 0.75rem 1rem;
  /* py-3 px-4 */
}

.community-page-container .table-row {
  border-bottom: 1px solid #3e4a5e;
}

.community-page-container .table-cell {
  padding: 0.75rem 1rem;
  font-weight: 600;
  color: #a3b1c1;
  cursor: default;
}

.community-page-container .table-cell.topic {
  cursor: pointer;
}

.community-page-container .table-cell.topic:hover {
  text-decoration: underline;
}