.cart-steam-bg {
  padding: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.cart-main-steam {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
}

.cart-title-steam {
  font-size: 24px;
  margin-bottom: 10px;
  color: #c7d5e0;
}

.cart-list-steam {
  margin-top: 20px;
}

.cart-items-container {
  border-radius: 8px;
  padding: 10px;
  background-color: #0f1419;
}

.cart-item-steam {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #1a252f;
}

.cart-item-steam:last-child {
  border-bottom: none;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-title {
  flex: 3;
  font-size: 16px;
  color: #c7d5e0;
  padding-left: 0;
}

.cart-item-price-container {
  flex: 1;
  text-align: right;
  width: 150px;
  padding-right: 20px;
}

.cart-item-price {
  font-size: 16px;
  color: #b0c679;
  min-width: 80px;
  display: inline-block;
  text-align: right;
}

.cart-item-remove {
  flex: 0.5;
  text-align: right;
  padding-right: 20px;
}

.cart-item-remove-btn {
  background: none;
  border: none;
  color: #c7d5e0;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.cart-item-remove-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.cart-item-empty {
  width: 20px;
  height: 16px;
  visibility: hidden;
}

/* Điều chỉnh cho hàng Estimated total */
.cart-item-steam:last-child {
  padding: 2px 0; /* Giảm padding để nhỏ ngang với các hàng game */
  font-size: 14px; /* Giảm font-size để đồng nhất */
}

.cart-loading,
.cart-empty-steam {
  text-align: center;
  padding: 20px;
  color: #c7d5e0;
}

.cart-btns-steam {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-btn-steam {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4b6980;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.cart-btn-steam:hover {
  background-color: #5e829c;
}

.cart-btn-blue-steam {
  background-color: #66c0f4;
}

.cart-btn-blue-steam:hover {
  background-color: #80c9f6;
}

.cart-btn-steam:disabled {
  background-color: #4b6980;
  cursor: not-allowed;
  opacity: 0.5;
}

.cart-modal-steam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal-content-steam {
  background-color: #2a475e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: #c7d5e0;
}

.cart-modal-btns-steam {
  margin-top: 20px;
}

.cart-modal-btns-steam button {
  margin: 0 10px;
}