/* src/components/Header/Header.css */
.header {
  background-color: #171a21;
  padding: 10px 20px;
  color: #c7d5e0;
  height: 104px;
  /* Chiều cao cố định cho header, bạn có thể điều chỉnh */
  border-bottom: 1px solid #000000;
  /* Đường viền mỏng phía dưới */
}

.header-logo .logo {
  height: 100%;
  /*Removed margin by Phan Son*/
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* Cho phép nav chiếm không gian còn lại */
}

.header-nav a {
  color: #c7d5e0;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  /* Chữ hoa giống Steam */
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.header-nav a:hover {
  color: #ffffff;
  /* Sáng hơn khi hover */
}

.header-user-action {
  display: flex;
  align-items: center;
}

.user-action-content {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}


.user-action-content a {
  /* Nếu bạn dùng link cho login/register */
  color: #c7d5e0;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
}

.user-action-content a:hover {
  background-color: #2a3f5a;
  /* Màu nền nhẹ khi hover */
  color: #ffffff;
}

/* Thêm CSS cho các phần tử khác như language selector nếu có */