/* src/components/Footer/Footer.css */
.steam-footer {
  background-color: #171a21;
  color: #c6d4df;
  font-size: 12px;
  line-height: 1.5;
}

.steam-footer .footer-logo img{
  height: 100%;
  width: 100%;
}

.steam-footer .policy-nav:hover {
  cursor: pointer;
  color: #ffffff;
}