.browse-publishers {
    margin: 16px 0;
    position: relative;
    font-weight: normal;
    font-family: "Motiva Sans", Sans-serif;
    transition: padding 0.25s;
}

.browse-publishers .title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.browse-publishers .carousel-fade .carousel-item {
    transition: opacity 400ms ease;
}

.browse-publishers .carousel-item .capsule-cnt {
    width: 24%;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.browse-publishers .capsule-cnt img {
    width: 100%;
    display: block;
    filter: saturate(0.7);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    border: none;
}

.browse-publishers .capsule-cnt:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.browse-publishers .capsule-cnt .gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(115% 120% at 0% 0%, transparent, #2880a6);
    transition: opacity 0.2s ease-in-out;
}

.browse-publishers .capsule-cnt:hover .gradient {
    opacity: 0.5;
}

.browse-publishers .capsule-cnt .label-ctn {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 90%;
    padding: 1em;
    pointer-events: none;
    transition: transform 0.2s ease-in-out;
}

.browse-publishers .capsule-cnt:hover .label-ctn {
    transform: translateY(44px);
}

.browse-publishers .capsule-cnt .label-ctn .label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.1ch;
    color: #2881a7;
    text-transform: uppercase;
    background: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
}

.browse-publishers .carousel-control-prev,
.browse-publishers .carousel-control-next {
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.browse-publishers .carousel-control-prev {
  left: -40px;
}

.browse-publishers .carousel-control-next {
  right: -40px;
}
